* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Rose', cursive;
}

.metabnb {
    padding: 0;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    margin: 1rem auto;
    justify-content: space-around;
    padding: 0.5rem 5rem;
}

#nav-logo {
    width: 10rem;
    object-fit: contain;
}

#nav-wallet {
    width: 15%;
    background-color: #A02279;
    color: #FFFFFF;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.link {
    padding: 0.8rem;
    text-decoration: none;
}

.left-text span {
    color: #A02279;
    font-weight: 700;
}

.hero-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 4rem;
    padding: 0.5rem 5rem;
}

#hero-msg {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

#hero-text {
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.left-text {
    width: 50%;
    margin-top: 3rem;
}

.hero-img {
    width: 50%;
}

#heroImg {
    width: 90%;
}

#hero-input {
    padding: 0.4rem 2rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: 0.1rem solid #A3A3A3;
}

#hero-btn {
    padding: 0.5rem 2.9rem;
    border: none;
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-color: #A02279;
    color: white;
}

.metalinks1 {
    width: 100%;
    margin: 3rem auto;
}

#inspiration-title {
    text-align: center;
    font-weight: 700;
    margin-top: 1.8rem;
    color: #000000;
    font-size: 2rem;
}

#feature1, #feature2 {
    width: 100%;
}

.inspiration-images {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 2rem auto;
    padding: 0.5rem 5rem;
}

.feature-img-row1, .feature-img-row2 {
    display: flex;
    margin: 1rem 0;
}

.feature {
    width: 18rem;
    margin: 0 auto;
    margin-right: 1rem;

}

.nfts {
    background-color: #A02279;
    width: 100%;
    margin: 0 auto;
    padding: 5rem 5rem;
    color: white;
    display: flex;
    justify-content: space-around;
}

#nfts-title {
    padding: 1rem;
    font-size: 2.5rem;
}

.nfts-text, .nfts-images {
    width: 50%;
    margin: 4rem;
}

#nft-img {
    width: 100%;
}

#nft-msg {
    /* width: 40rem; */
    padding: 1rem;
    line-height: 1.6rem;
}

#nfts-btn {
    color: #A02279;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 0.4rem;
    border: none;
}

.footer {
    background-color: black;
    color: #FFFFFF;
    justify-content: space-around;
    display: flex;
    width: 100%;
    padding: 2rem;
    margin: auto;
}

#copyright {
    width: 12rem;
    font-size: 1rem;
}

.social-media {
    object-fit: contain;
    margin: 1rem 0;
    width: 8rem;
    padding: 1.5rem 0;
}

.footer-icon {
    width: 1rem;
    margin: 0 1rem 0 0;
}

.right-footer {
    display: flex;
}

.footer-text {
    margin: 1.5rem;
}

.footer-text p {
    color: #F1F3F9;
    font-size: 0.9rem;
    padding: 0.4rem;
}

h6 {
    color: #FFFFFF;
}



/* separate */
.connect-wallet {
    height: 1rem;
}

.site {
    margin: 1rem;
    width: 100%;
}

.location-img {
    width: 18rem;
    margin: 1rem;
}

.locations {
    display: flex;
    justify-content: space-around;
}

#location-btn {
    width: 8rem;
}

.place {
    padding: 1.2rem;
}

.places-img {
    padding: 1.2rem;
    margin: 0 auto;
}

body.active-modal {
    overflow-y: hidden;
    background: rgba(49, 49, 49, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.first-content {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.close-modal {
    cursor: pointer;
}

.nav-wrapper {
    display: flex;
}

.modal {
    position: absolute;
    display: flex;
    Justify-content: center;
    Align-items: center;
    width: 30%;
    margin-top: 10rem;
    margin-left: 24rem;
    z-index: 38;
    padding: 2rem 2rem;
    background-color: white;
    border-radius: 0.5rem;
}

.last-content {
    display: flex;
    flex-direction: column;
}

.wallet-btn {
    display: flex;
    border: none;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    margin: 0.5rem 0;
}

hr {
    background: #CFD8DC;
    border: 0.01rem solid #CFD8DC;
    margin: 1rem 0;
}

#wallet-text {
    color: #333333;
    font-size: 0.8rem;
}

.wallet-img {
    width: 1.6rem;
}

.btn-text {
    margin-left: 1rem;
    text-align: center;
    margin-right: 14rem;
}

#metamask {
    margin-right: 16rem;
}


@media (max-width: 480px) {
    .metabnb {
        width: 100%;
        overflow-x: hidden;
        padding: 2rem 3rem;
    }

    #nav-logo {
        margin: 0 auto;
    }

    nav {
        width: 100%;
        margin: 0 0;
        display: flex;
        flex-direction: column;
    }
    
.modal{
    background-color: white;
    width: 80%;
    height: 15rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 38;
    padding: 1rem;
}
.overlay{
    width: 80%;
}
.wallet-btn {
    padding: 0.6rem 0;
    width: 100%;
}
.wallet-img{
    padding: 0;
}
hr{
    width: 100%;
}
    .hero-section {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0;
    }

    .left-text {
        width: 100%;
    }

    .hero-img {
        width: 100%;
        margin: 0 auto;
    }

    #heroImg {
        width: 100%;
    }

    .left-text {
        width: 100%;
        padding: 2rem 0;
    }

    #hero-msg {
        font-size: 1.5rem;
    }

    #hero-text {
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
    }
a{
    display: flex;
    padding: 0;
    margin: 0;
}
#nav-wallet{
    padding: 0.5rem 4rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

    #hero-input, #hero-btn {
        width: 12rem;
        padding: 0.8rem;
        border-radius: 0.3rem;
        margin: 0.5rem;
        margin-left: 3rem;
    }

    #metalinks1 {
        width: 100%;
        height: 26rem;
        margin: 0 auto;
    }
    .locations{
        display: flex;
        flex-direction: column;
    }
    .place{
        margin: 0.3rem;
        padding: 0.5rem;
    }
    #location-btn{
        width: 70%;
        height: 5rem;
        margin: 0
        auto;
    }

    .feature-img-row1, .feature-img-row2 {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .feature {
        margin: 0.7rem 0;
        width: 100%;
    }

    .nfts {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 2rem;
    }

    .nfts-text {
        width: 100%;
        text-align: center;
        padding: 0 0;
        margin: 0 auto;
    }

    .nfts-images {
        width: 100%;
        margin: 0 auto;
    }

    #nfts-title {
        font-size: 1.2rem;
    }

    #nft-msg {
        width: 100%;
    }


    .footer {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .footer-logo {
        width: 90%;
    }

    .right-footer {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
        /* padding: 3rem; */
    }

    .footer-text h3 {
        font-size: 2rem;
    }

    .footer-text p {
        font-size: 1rem;
    }
}
@media (max-width: 768px){
    nav{
        width: 100%;
        background-color: red;
        padding: 1rem 1rem;
        margin: 0;
        font-size: 1rem;
    }
    
    .locations{
        display: flex;
        padding: 2rem 0;
    }
    /* .location-img{
        width: 40%;
    } */
    .place{
        padding: 0;
    }

}
